#search-form{
    height: 55px;
}
#search-form>input[type=text]{
    height: 50px;
    width: 90%;
    font-size: 2em;
}

#search-form>button{
    white-space: nowrap;
    padding: 15px;
}

a{
    text-decoration: none;
}

html{
    padding-top: 100px;
    background-color: #F5F5F1;
}

.container{
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; 
}

.result-item{
    border: transparent;
    border-radius: 5px;
    background-color: white;
}

.result-item img{
    width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.result-item-title{
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}

.result-item-price{
    text-align: right;
    color: green;
    font-size: .75em;
}

.result-item p{
    align-content: right;
}

.result-item img:hover{
    opacity: 0.5;
}

/*Inspiration from skeleton css framework*/
@media (min-width: 600px){
    .one.column,.one.columns{ width: 4.66666666667%; }
    .two.columns{ width: 13.3333333333%; }
    .three.columns{ width: 22%; margin: 1%;}
    .four.columns{ width: 30.6666666667%; }
    .five.columns{ width: 39.3333333333%; }
    .six.columns{ width: 48%;}
    .seven.columns{ width: 56.6666666667%; }
    .eight.columns{ width: 65.3333333333%; }
    .nine.columns{ width: 74.0%;}
    .ten.columns{ width: 82.6666666667%; }
    .eleven.columns{ width: 91.3333333333%; }
    .twelve.columns{ width: 100%; margin-left: 0; }
}

@media(max-width:600px){
    .one.column, .one.columns, .two.columns, .three.columns, .four.columns, .five.columns{width: 95%; margin: 1%;}
}